[submodule "HDiffPatch"]
	path = HDiffPatch
	url = https://github.com/sisong/HDiffPatch.git
[submodule "zstd"]
	path = zstd
	url = https://github.com/sisong/zstd.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "minihttp"]
	path = minihttp
	url = https://github.com/sisong/minihttp.git
	branch = range
[submodule "xxHash"]
	path = xxHash
	url = https://github.com/Cyan4973/xxHash.git
