[submodule "HDiffPatch"]
	path = HDiffPatch
	url = https://github.com/sisong/HDiffPatch.git
[submodule "zstd"]
	path = zstd
	url = https://github.com/sisong/zstd.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "BLAKE3"]
	path = BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3.git
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
